body {
    /*background: #c1c8e4;*/
    background: #959ead;
    color: white;
    font-size: 16px;
    max-width: 1980px;
}

.wrapper{
    max-width: 100%;
    background-size: cover;
}

.container{
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header{
    font-size:20px;
   /* margin-left: 50px;
    margin-top: 5px;*/


}
.navbar {
    /* background-color: steelblue;*/
    /* background-color: cadetblue;*/
   /* background-color: #ccd6f0;*/
}

.btn {
    /* background-color: #4e3875;
    background-color: #13062b;*/
    background-color: #d5d8eb;
    color: #131a45;
    width: auto;
    text-align: center;
    /*  padding: 10px 24px;*/
}
h3, h5 {
    color: #131a45;
}

.header_item{
    text-align: left;
    font-size: 20px;
    color: lightslategray;
}

.table {
    border: #d5d8eb;
    /* color: white;*/
}

a {
   /* color: #722cef;*/
    color: #262e40;
    font-size: 16px;
}

    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }

a {
    color:#070547;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



/*Чат*/
.color-green {
    background-color: #909ef5;
}

.main {
    display: flex;
   /* margin-left: 600px;
    position: relative;
    top: 10px;
    width: 400px;
    height: 600px;*/
    float: right;
    position: sticky;
}

.wrapper {
    position: fixed;
    margin: auto;
    position: relative;
    margin-top: 200px;
    float: right;
    height: 550px;
    background-color: #d5d8eb;
    width: 350px;
    color: #dee0e3;
    overflow-y: scroll;
}

.container-3 {
    position: absolute; /* добавили */
    bottom: 0;
    padding: 10px;
}

.form-control {
    display: block;
    border: 1px solid #909ef5;
   /* width: 290px;*/
   color: cadetblue;
    border-radius: 8px;
}

.name1 {
    text-align: center;
    font-size: 18px;
    border: 1px solid #909ef5;
    color: #3d67a6;
    padding: 10px;

    display: flex;
    flex-direction: row;
}

#block-ebenefit-front {
    margin-top: 80px;
    position: relative;
    z-index: 1;
}

 #block-ebenefit-front .block {
     position: relative;

}

.block {
    position: relative;
    text-align: center;
}

#block-ebenefit-front .block__title {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    color: #131a45;
}

#block-ebenefit-front .block__content {
    position: relative;
    padding-bottom: 75px;
}
.block .block__content {
    text-align: left;
}

#block-ebenefit-front .info-body {
    width: auto;
    margin-bottom: 30px;
}
#block-ebenefit-front .info-body {
    float: left;
    width: 320px;
    padding-top: 55px;
}
.body {
    line-height: 1.4;
}
#block-ebenefit-front .info-body p {
    margin-top: 0;
}
.centering, #header-menu > ul.menu, #footer, #main-content, #navigation, .breadcrumb, .block, .top-container, #top-line {
   /* padding-left: 10px;
    padding-right: 10px;
    border: 0 !important;
    width: 1180px;
    margin: 0 auto;*/
    word-wrap: break-word;
}
#block-ebenefit-front .entity-list {
    counter-reset: counter;
    float: left;
}
#block-ebenefit-front .node:nth-child(odd) {
    clear: both;
}
#block-ebenefit-front .node {
    width: 475px;
    margin-left: 15px;
}
#block-ebenefit-front .node {
    float: left;
    width: 365px;
    position: relative;
    padding-left: 100px;
    -moz-box-sizing: border-box;
   /* -webkit-box-sizing: border-box;*/
    box-sizing: border-box;
    min-height: 162px;
  /*  margin-left: 25px;*/
    margin-bottom: 35px;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
.node-benefit .node__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}
#block-ebenefit-front .benefit-title {
    min-height: 48px;
}
#block-ebenefit-front .benefit-title .item {
        display: inline-block;
        vertical-align: middle;
      
 }

/*.benefit-title p {
    margin: 0;
}*/
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#block-ebenefit-front .node:before {
    content: counter(counter);
    counter-increment: counter;
    line-height: 64px;
    width: 64px;
    display: block;
    text-align: center;
    font-size: 48px;
    position: absolute;
    left: 13px;
    top: 13px;
    color: #fff;
    z-index: 2;
}

#block-ebenefit-front .benefit-title:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
   
}
.benefit-desc {
    padding-top: 5px;
}

#block-ebenefit-front .node:after {
    background-color: #d5d8eb !important;
    content: '' !important;
    visibility: visible !important;
    display: block;
    width: 64px;
    height: 64px !important;
    position: absolute;
    left: 13px;
    top: 13px;
    color: #ddd;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/*popular*/

.section-services {
    padding: 25px 0 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    margin-top: 200px;
}

.container-service {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.section-services__title {
    margin-bottom: 15px;
}

.new-title-h2 {
    font: bold 32px/40px 'Roboto', sans-serif;
    text-align: center;
    color: #131a45;
    letter-spacing: 0.037em;
    width: 1100px;
}
.h2 {
    font-size: 22px;
    color: #333;
    line-height: 30px;
    margin: 0 0 13px;
}

.section-services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 400px;
    margin: 0 auto;
   margin-top:650px;
}
.section-services {
    padding: 25px 0 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.section-services__item {
    width: 25%;
    margin-right: -1px;
    margin-bottom: -1px;
   /* text-align: left;*/
    padding-top: 20px;
    border: 1px solid;
}
.section-services__item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}
.section-services__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3f454d;
    margin-bottom: 4px;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}
.section-services__item-descr {
    font-size: 16px;
    line-height: 20px;
    color: #4e667e;
    margin-bottom: 16px;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

.section-services__item-overico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   /* width: 64px;*/
    height: 64px;
    margin-top: auto;
    -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: opacity 0.25s, -webkit-transform 0.25s;
    transition: opacity 0.25s, transform 0.25s;
    transition: opacity 0.25s, transform 0.25s, -webkit-transform 0.25s;
}

.section-services__item-ico {
    max-width: 100%;
    max-height: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
img {
    border: 0;
}