@model KursovayaBlazorNet6.Models.EditServicesModel

@{
    Layout = "~/Views/Shared/_Layout - Blazor.cshtml";
    ViewData["Title"] = "Редактирование списка услуг";
}

<h4>@ViewData["Title"]</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditServicesView" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             <input type="hidden" name="urlReturn" value="@Model.UrlReturn" />


            <div class="form-group">
                <label asp-for="SelectedCategoryId" class="control-label"></label>
                <select asp-for="SelectedCategoryId"
                        asp-items="@Model.ListCategories">
                    <option>@Model.Category</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <input asp-for="ServiceId" class="form-control" />
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>*@
            
           
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
